{% extends 'blog/basic.html' %}

{% block title %} EditProfile - STH {% endblock %}

{% block css %}
h1 {
    margin-bottom: 0.5rem;
    margin-right: 11.5rem;
    /* font-style: unset; */
    font-weight: 300;
    color: aliceblue;
    font-family: 'Amatic SC', cursive;
}{% endblock%}
{% block body %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Welcome User!</strong> Please edit your Profile.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% load static %}
<div class="container my-3">
    <div class="form-group">
    <h3>EditProfile here!</h3>
        <br>
    <form  method="POST" class="post-form"  enctype="multipart/form-data">
        {% csrf_token %}
    {{ form.as_p }}
    {{ form.media}}
        <button type="submit" class="btn btn-success">Update Profile</button>
</form>
</div>


</div>
{% endblock %}
{% block js %}
<script>
</script>
{% endblock %}
