<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">


    <title>{% block title%} {% endblock %}</title>
    <style>
        {% block css %}

        #content-wrap {
            padding-bottom: 2.5rem;
            /* Footer height */
        }


        body {

            margin: 0px;
            min-height: 50%;
            padding: 0px;
            position: absolute;
            width: 100%;
        }
            h1 {
                margin-bottom: 0.5rem;
                margin-right: 8.5rem;
                /* font-style: unset; */
                font-weight: 300;
                color: aliceblue;
                font-family: 'Amatic SC', cursive;
            }

            .py-4 {
                padding-bottom: 0.5rem;
                padding-top: 0.5rem;
            }


                {% endblock %}
    </style>
</head>

<body style="background-color:aliceblue;">
    <div id="page-container">
        <div id="content-wrap">
            <!-- all other page content -->



            {% load static %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="/">STH</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/blog/index">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog/contact">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/blog/catmenu">Categories</a>
                                <a class="dropdown-item" href="#">Anything</a>
                            </div>
                        </li>
                    </ul>
                </div>
                {% if user.is_authenticated %}
                <a class="btn btn-danger my-2 my-sm-0 mx-1" href="{% url 'editProfile' %}">EditProfile: {{user}}</a>
                <a class="btn btn-success my-2 my-sm-0 mx-1" href="{% url 'blogAdd' %}" type="button">AddBlog</a>
                <a class="btn btn-success my-2 my-sm-0 mx-1" href="{% url 'logout' %}" type="button">LogOut</a>

                {% else %}

                <a class="btn btn-success my-2 my-sm-0 mx-1" href="{% url 'login' %}" type="button">Login</a>
                <a class="btn btn-success my-2 my-sm-0 mx-1" href="{% url 'register' %}" type="button">Register</a>
                {% endif %}

                <form method="get" action="/blog/search " class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search your Language"
                        aria-label="Search" name="query" id="query">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                </form>



            </nav>
            <div id="wrapper" class="wrapper">
                <span id="typed"></span>
            </div>
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                <strong>Message: </strong> {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor%}


            <!-- SignUp Modal -->
            <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="signupModalTitle">Sign Up here!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/blog/signup/" method="post">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username" name="username"
                                        placeholder="Type your username here!">
                                </div>
                                <div class="form-group">
                                    <label for="fname">First Name</label>
                                    <input type="text" class="form-control" id="fname" name="fname"
                                        placeholder="Type your first name here!">
                                </div>
                                <div class="form-group">
                                    <label for="lname">Username</label>
                                    <input type="text" class="form-control" id="lname" name="lname"
                                        placeholder="Type your last name here!">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="name@example.com">
                                </div>
                                <div class="form-group">
                                    <label for="pass1">Password</label>
                                    <input type="password" class="form-control" id="pass1" name="pass1"
                                        placeholder="Type your password here!">
                                </div>
                                <div class="form-group">
                                    <label for="pass2">Confirm Password</label>
                                    <input type="password" class="form-control" id="pass2" name="pass2"
                                        placeholder="Confirm your password here!">
                                </div>
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Sign Up</button>
                            </form>

                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Login Modal -->
            <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="loginModalTitle">Login here!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <form action="/blog/login/" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="username">Enter Username</label>
                                    <input type="text" class="form-control" id="loginusername" name="loginusername"
                                        placeholder="Enter your username here!">
                                </div>
                                <div class="form-group">
                                    <label for="loginpass">Enter Password</label>
                                    <input type="password" class="form-control" id="loginpass" name="loginpass"
                                        placeholder="Enter your password here!">
                                </div>
                                <button type="submit" class="btn btn-primary">Login</button>
                            </form>

                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

            {% block body %}
            {% endblock %}


            {% block js %}

            {% endblock %}

        </div>
    </div>
    <footer class="footer mt-auto py-3 bg-dark text-light" id="footer">
        <div class="container">
            <p class="mb-0 text-center">© storestohomes.com</p>
            <p class="mb-0 text-center">
                <a href="" onclick="topFunction()" id="myBtn">Back to top |</a>
                <a href="#">Privacy |</a>
                <a href="#">Terms</a>
            </p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <script>
        //Get the button:
        mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }

        $('document').ready(function () {
            var typed = new Typed('#typed', {
                strings: ['<em>This website is for tutorial purpose only!</em>',
                    '<b>This website is for tutorial purpose only!</b>',
                    '<em>This website is for tutorial purpose only!</em>',
                    '<b>This website is for tutorial purpose only!</b>'
                ],
                // typing speed
                typeSpeed: 0,
                // time before typing starts
                startDelay: 0,
                // backspacing speed
                backSpeed: 0,
                // time before backspacing
                backDelay: 500,
                // loop
                loop: true,
                // false = infinite
                loopCount: false,

            });
        });
    </script>
</body>


</html>